@font-face {
  font-family: "rubik";
  src: url(./RubikDirt-Regular.woff2), format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

img{
  width: 150px;
  height: auto;
}

h3 {
  display: inline;
}
h1{
  background-color: burlywood;
  border: 20px ridge rgb(227, 205, 161);
  padding: 30px;
  text-align: center;
  font-family: "rubik", sans-serif;
  font-size: 90px;
  color: rgb(44, 28, 12);
  margin-bottom: 20px;
}

h2{
  font-family: rubik;
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 20px;
  padding: 20px;
}

h3{
  font-family: monospace;
}

#love{
  color: crimson;
}

#pk{
  color: cornflowerblue
}

#m{
  color: rgb(100, 54, 5);
}

#art{
  color: rgb(119, 49, 194);
}

#local{
  color: rgb(39, 118, 39);
}

#travel{
  color: rgb(51, 151, 171)
}